## MAIN CONFIG
PORT=5003
SIGNUP_ENABLED=false
FRONTEND_URL=http://localhost:3000

## DATABASE
MONGO_URI=mongodb://USERNAME:PASSWORD@HOST:PORT/CasiFlowDB?authSource=admin
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=2592000